## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
${set_locale(lang)}
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${html_head()}
    
    <link type="text/css" rel="stylesheet" href="/assets/css/style.css"/>
   <link type="text/css" rel="stylesheet" href="/assets/css/code.css"/>
    <%block name="extra_head">
    </%block>
    ${extra_head_data}
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <%block name="content"></%block>
        </div>
        <div id="sidebar">
            <!--Sidebar content-->
            <h1>
                <a href="${abs_link('/')}" title="${blog_title}">${blog_title}</a>
            </h1>
            <%block name="belowtitle">
            %if len(translations) > 1:
            <small>
                ${(messages("Also available in"))}:&nbsp;
                ${html_translations()}
            </small>
            %endif
            </%block>
            <ul class="unstyled">
            <li>${license}
            ${html_sidebar_links()}
            <li>${search_form}
            </ul>
            <div id="credit">
            ${content_footer}
            </div>
        </div>
    </div>
    ${analytics}
</body>
